  .ion-ios-line-drawing-outline,
  .ion-md-line-drawing-outline {
    content: url(../../assets/images/1-line-drawing.svg);
    width: 14px;
    height: 20px;
    padding: 0px 0px 0px 0px;
    opacity: 0.9;
  }

  .ion-ios-risk-assessment-outline,
  .ion-md-risk-assessment-outline {
    content: url(../../assets/images/electrical-risk-assessment.svg);
    width: 24px;
    height: 24px;
    padding: 0px 0px 0px 0px;
    opacity: 0.9;
  }

  .ion-ios-field-audit-outline,
  .ion-md-field-audit-outline {
    content: url(../../assets/images/field-audit-form.svg);
    width: 132px;
    height: 132px;
    padding: 0px 0px 0px 0px;
    opacity: 0.9;
  }
