<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-item>
    <ion-title>Energized Electrical Work Permit</ion-title>
  </ion-item>
  <button
      ion-button
      type="button"
      block
      (click)="gotoAddWorkPermitPage()">
    Add Energized Electrical Work Permit
  </button>
<ion-list>
  <div (click)='gotoWorkPermitDetailPage($event, folder.name)' *ngFor="let folder of folders">
    <ion-item *ngIf="folder['.tag'] == 'file'">
      <button
          clear
          type="button">
        {{folder.name}}
      </button>
    </ion-item>
  </div>
</ion-list>
</ion-content>
